In [1]:
import pandas as pd

# 原始 DataFrame
data = pd.DataFrame({
    "name": ["Amy", "John", "Bob", "Amy", "John"],
    "salary": [30000, 50000, 40000, 35000, 55000],
    "department": ["HR", "IT", "IT", "HR", "IT"]
})

# 根據 department 欄位進行分組
grouped_data = data.groupby("department")

# 進行分組計算
average_salary = grouped_data["salary"].mean()

print(average_salary)

department
HR    32500.000000
IT    48333.333333
Name: salary, dtype: float64

In [4]:
#多個欄位分組

import pandas as pd

# 原始 DataFrame
data = pd.DataFrame({
    "name": ["Amy", "John", "Bob", "Amy", "John"],
    "salary": [30000, 50000, 40000, 35000, 55000],
    "department": ["HR", "IT", "IT", "HR", "IT"],
    "location": ["London", "New York", "London", "New York", "London"]
})

# 根據 department 和 location 欄位進行分組
grouped_data = data.groupby(["department", "location"])

# 進行分組計算
average_salary = grouped_data["salary"].mean()

print(average_salary)

department  location
HR          London      30000.0
            New York    35000.0
IT          London      47500.0
            New York    50000.0
Name: salary, dtype: float64

In [5]:
import pandas as pd

# 原始 DataFrame
data = pd.DataFrame({
    "name": ["Amy", "John", "Bob", "Amy", "John"],
    "salary": [30000, 50000, 40000, 35000, 55000],
    "department": ["HR", "IT", "IT", "HR", "IT"]
})

# 自定義聚合函數
def salary_range(series):
    return series.max() - series.min()   #薪水最高和最低的差

# 根據 department 欄位進行分組並應用自定義聚合函數
result = data.groupby("department")["salary"].agg(salary_range)   #使用 agg() 方法應用自定義聚合函數 

print(result)

department
HR     5000
IT    15000
Name: salary, dtype: int64